<dl>
{{#isnt ex-file.time.main blank}}
	<dt>{{{i18n "ex-time"}}}</dt><dd>{{ex-file.time.main}} Minutes
	<ul>
		{{#contains page.language "fr"}}
			{{{exolparts ex-file "fr"}}}
		{{else}}
			{{{exolparts ex-file "en"}}}
		{{/contains}}
	</ul></dd>
{{else}}
	<dt>{{{i18n "ex-time"}}}</dt><dd>{{ex-file.time}} Minutes</dd>
{{/isnt}}

	<dt>{{{i18n "ex-purpose"}}}</dt><dd>{{#contains page.language "en"}}{{ex-file.en.purpose}}{{else}}{{ex-file.fr.purpose}}{{/contains}}</dd>
{{#isnt ex-file.video blank}}
	<dt>{{{i18n "ex-video"}}}</dt><dd>{{#contains page.language "en"}}{{ex-file.en.video-title}}{{else}}{{ex-file.fr.video-title}}{{/contains}}</dd>
	<dt>{{{i18n "ex-video-source"}}}</dt><dd><a href="{{#contains page.language "en"}}{{ex-file.en.source.url}}{{else}}{{ex-file.fr.source.url}}{{/contains}}">{{#contains page.language "en"}}{{ex-file.en.source.title}}{{else}}{{ex-file.fr.source.title}}{{#isnt ex-file.fr.source.englishonly blank}}{{{i18n "english-only"}}}{{/isnt}}{{/contains}}</a></dd>
{{/isnt}}

	<dt>{{{i18n "ex-instructions"}}}</dt>
	<dd><form action="#"><ol>