<div class="col-md-6" id="leftPart">
	<form class="wb-prettify lang-html">
		<fieldset>
			<legend>Choose your editor</legend>
			<input type="radio" name="chooseEditor" id="showCode" value="showCode"><label for="showCode">Edit Code</label>
			<input type="radio" name="chooseEditor" id="showOptions" value="showOptions"><label for="showOptions">See code options</label>
		</fieldset>
		<div id="rawCode">
			<h2>Enter your own code to try</h2>
			<div class="row">
				<label for="sourceCode">Your Code Sample :</label>
			</div>
			<div class="row">
				<div class="col-md-12">				
					<textarea class="form-control" cols="60" rows="20" name="sourceCode" id="sourceCode">
{{{tryit-include tryitSource}}}
					</textarea>
				</div>
			</div>

			<div class="row">
				<input id="tryitRun" type="button" value="Run Code">
			</div>
		</div>
		
		<div id="showOptionsSection">
			<h2>Choose from the following options</h2>
			{{{tryit-parts tryitParts}}}

			<h3>Run your results</h3>
			<div class="row">
				<div class="col-md-6"><input id="tryitOptions" type="button" value="Try these options"></div>
				<div class="col-md-6"><input id="tryitCopyToEditor" type="button" value="Copy to Code Editor"></div>
			</div>
		</div>		
	</form>
</div>
<div class="col-md-6">
	<h2>The results of your code</h2>
	<details>
		<summary>Note to Screen reader users</summary>
		<p>This section of the web page is generated dynamicly. Your screen reader may not properly read it, even when it is accessible. Addtionaly, there are 2 level 3 headings around the code to help you navigate should there be a problem. These are called "Custom page starts here" and ending with "Custom page ends here"</p>
	</details>
	<h3 class="wb-inv">Custom page starts here</h3>
	<div id="targetCodeDiv" aria‐live="polite"></div>
	<h3 class="wb-inv">Custom page ends here</h3>
</div>