<div class="col-md12">
	<p>SIN: _______
	<p>Name: _______
	<p>DOB: _______ ______ _______
	<br>
	<p>To <span id="bad" style="text-decoration:underline; color: blue;cursor:pointer;">Submit</span>, Please fill out and print this form
		
		<script type="text/javascript">

		</script>
</div>