<div class="col-md-12"><h3>Consolidated Statement of Cash Flow (Unaudited)<br/>
			For the year ended March&nbsp;31</h3>
					  
		<p style="width: 50%;" class="font-xsmall align-right"><em><strong>(in thousands of dollars)</strong></em></p>
		
		<table class="table-simplify">
		 	<tr>
				<th>&nbsp;</th>
				<th class="align-right">2009</th>
				<th class="align-right">2008</th>
		  	</tr>
		  	<tr>
				<th colspan="3" id="un_15">Operating Activities</th>
		  	</tr>
		  	<tr>
				<td><strong>Net cost of operations</strong></td>
				<td class="align-right"><strong>2,296,145</strong></td>
				<td class="align-right">2,002,440</td>
		  	</tr>
		  	<tr>
				<th class="secondary" colspan="3"><em>Non cash items:</em></th>
		  	</tr>          
		  	<tr>
				<td>Amortization of tangible capital assets (Note&nbsp;5)</td>
				<td class="align-right"><strong>(440,120)</strong></td>
				<td class="align-right">(382,103)</td>
		  	</tr>
		  	<tr>
				<td>Gain or loss on disposals / Adjustments of tangible capital assets</td>
				<td class="align-right"><strong>(10,644)</strong></td>
				<td class="align-right">(154)</td>
		  	</tr>
		  	<tr>
				<td>Services received without charge from other government departments (Note&nbsp;12)</td>
				<td class="align-right"><strong>(57,009)</strong></td>
				<td class="align-right">(53,767)</td>
		  	</tr>
		  	<tr>
				<td>Economic gain on sale-leaseback</td>
				<td class="align-right">&mdash;</td>
				<td class="align-right">163,662</td>
		  	</tr>
		  	<tr>
				<th class="secondary" colspan="3"><em>Variations in Consolidated Statement of Financial Position:</em></th>
		  	</tr>            
		  	<tr>
				<td>Increase in financial assets</td>
				<td class="align-right"><strong>35,151</strong></td>
				<td class="align-right">25,568</td>
		  	</tr>
		  	<tr>
				<td>Decrease in prepaid expenses</td>
				<td class="align-right"><strong>(3,403)</strong></td>
				<td class="align-right">(1,035)</td>
		  	</tr>
		  	<tr>
				<td>(Increase) decrease in liabilities other than lease obligation for tangible capital assets</td>
				<td class="align-right"><strong>(212,558)</strong></td>
				<td class="align-right">103,408</td>
		  	</tr>
		  	<tr>
				<td><strong>Cash used by operating activities</strong></td>
				<td class="align-right"><strong>1,607,562</strong></td>
				<td class="align-right">1,858,019</td>
		  	</tr>
		</table>
	</div>