<div class="col-md-12">Be sure to complete the Required fields (Fields in red)</p>
	<form role="form" method="get" action="thanks-en.html">
		<strong style="color:red">Date of birth:</strong><br />
		<label style="display:inline" for="b_day">Day</label><label style="display: inline; visibility: hidden" for="b_day">Day of birth</label>
		<input name="birthDay" maxlength="2" size="3" value="" id="b_day" title="Day of birth" type="text"><br />

		<label style="display:inline" for="fsm">Month</label><label style="display: inline; visibility: hidden" for="fsm">Month of birth</label>
		<select name="birthMonth" id="fsm" title="Month of birth"><option value="">&nbsp;</option>
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="03">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option></select>
		<br />
		<label style="display:inline" for="fsy">Year</label><label style="display: inline; visibility: hidden" for="fsy">Year of birth</label>
		<input name="birthYear" maxlength="4" size="4" value="" id="fsy" title="Year of birth" type="text">
		<br />
		<label style="display:inline; color:red"  for="maritalStatus">
			<strong>Current marital status:</strong>
			<em>(This information may help us determine your eligibility for other benefits)</em>
		</label>
		<select name="maritalStatusCode" id="maritalStatus" class="formelementdetailsvalue">
			<option value="">Select one</option><option value="5">Common Law</option><option value="2">Divorced</option><option value="3">Married</option><option value="6">Separated</option><option value="1">Single</option><option value="4">Widow(er)</option></select>
		<strong><br /><label style="display:inline"  for="languageDropDown">Preferred language for correspondence:</label></strong>
		<select name="officialLanguageOfBusinessCode" id="languageDropDown"><option value="1">English</option>
			<option value="2">French</option></select>
	</form>
</div>