<div class="col-md-12"><p>Transactions can be put online.&nbsp;Services cannot.&nbsp;Take, for example, the area of education.&nbsp;You can’t argue whether education can or cannot be put online.&nbsp;However there are hundreds of discrete transactions within education that can be evaluated, such as:<br><u><br>
Suitable for online</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Not Suitable for Online</u></p>
<p>School place applications.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Providing pastoral care.</p>
<p>Sending school report to parents.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Teaching classroom lessons.</p>
<p>Searching for educational material.</p></div>