<div class="col-md-12" style="width:350px; display:inline !important">
	<button style="width: 70px; float: left;" id="num2">Second</button>
	<button style="width: 70px; float: right;" id="last">First</button>			
	<button style="width: 70px; float: right;" id="num3">Third</button>
	<button style="width: 70px; float: left;" id="num1">Fourth</button>
</div>