<div class="col-md-12">
	<form role="form" method="get" action="thanks-en.html">
		<div class="form-group">
			<strong><span><span style="color: red">Social Insurance Number</span>:</span></strong><br />
			<input class="form-control" name="sin" maxlength="9" size="9" value="" id="sin" type="text">			
		</div>

		<div class="form-group">
			<strong><span style="color: red">Date</span>:</strong>
			<div style="display:inline">
				<span>D</span>
				<input class="form-control" name="birthDay" maxlength="3" size="3" value="" id="b_day" type="text">
				<span>M</span>
				<input class="form-control" name="birthMonth" id="fsm" maxlength="3" size="3" value="" type="text">
				<span>Y</span>
				<input class="form-control" name="birthYear" maxlength="4" size="4" value="" id="fsy" title="Year of birth" type="text">
			</div>	
		</div>
		
		<div class="form-group">
			<span>Current marital status: <em>(This information may help us determine your eligibility for other benefits)</em></span><br />		
		
			<select class="form-control" name="marital StatusCode" id="maritalStatus" class="formelementdetailsvalue">	
				<option></option>	
				<option value="5">Common Law</option>	
				<option value="2">Divorced</option>	
				<option value="3">Married</option>	
				<option value="6">Separated</option>	
				<option value="1">Single</option>	
				<option value="4">Widow(er)</option>
			</select>
		</div>

		<div class="form-group">
			<span>Preferred language for correspondence:</span><br />
			<select class="form-control" name="officialLanguageOfBusinessCode" id="languageDropDown">
				<option value="1">English</option>
				<option value="2">French</option>
			</select>
		</div>

		<button id="badsubmit" class="btn btn-primary">Submit</button>
	</form>
</div>
