<p><div class="col-md-9">We provide many solutions for our clients. The accelerated capital cost allowance (CCA) for eligible computers announced in the 2009 budget allows businesses to claim 100% of computer costs (including systems software) purchased after January 27, 2009 and before midnight, January 31, 2011.</div>

<div class="col-md-3"><img src="images/bsnss.jpg" alt="" /></div></p>

