<div class="col-md-9"> Should we take the Blue pill or the Red Pill?</div>
		
<div class="col-md-9">
	<ul class="list-unstyled list-inline">
		<li><a href="#" class="pill"><img class="image-actual" src="images/pill-1r.jpg" alt="red pill" title="red pill"></a></li>
		<li><a href="#" class="pill"><img class="image-actual" src="images/pill-2b.jpg" alt="blue pill" title="blue pill"></a></li>
	</ul>
</div>