<div class="col-md-12">
	<form role="form" method="get" action="thanks-en.html">
		<div class="form-group">
			<label for="sin">Social Insurance Number:</label>
			<input class="form-control" name="sin" maxlength="11" size="11" value="" id="sin" type="text">
		</div>

		<fieldset class="form-inline">
			<legend>Date of birth:</legend>

			<div class="form-group">
				<label for="b_day">Day (two digits)</label>
				<input class="form-control" name="birthDay" maxlength="2" size="3" value="" id="b_day" title="Day of birth" type="text">
			</div>

			<div class="form-group">
				<label for="fsm">Month</label>
				<select class="form-control" name="birthMonth" id="fsm" title="Month of birth"><option value="">&nbsp;</option>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">Jun</option>
					<option value="07">Jul</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
			</div>
			
			<div class="form-group">	
				<label for="fsy">Year (four digits)</label>
				<input class="form-control" name="birthYear" maxlength="4" size="4" value="" id="fsy" title="Year of birth" type="text">
			</div>
		</fieldset>

		<div class="form-group">
			<label for="maritalStatus">Current marital status:<em>(This information may help us determine your eligibility for other benefits)</em></label>
			<select class="form-control" name="maritalStatusCode" id="maritalStatus" class="formelementdetailsvalue">
				<option value="">Select one</option>
				<option value="5">Common Law</option>
				<option value="2">Divorced</option>
				<option value="3">Married</option>
				<option value="6">Separated</option>
				<option value="1">Single</option>
				<option value="4">Widow(er)</option>
			</select>
		</div>
	
		<div class="form-group">
			<label for="languageDropDown">Preferred language for correspondence:</label>
			<select class="form-control" name="officialLanguageOfBusinessCode" id="languageDropDown">
				<option value="1">English</option>
				<option value="2">French</option>
			</select>
		</div>
		<fieldset class="form-inline">
			<legend>Pick a number</legend>
			<div class="radio">
				<input id="Choice1" name="choises" value="1" type="radio">
				<label for="Choice1">Choice 1</label>
			</div>
			<div class="radio">
				<input id="Choice2" name="choises" value="2" type="radio">
				<label for="Choice2">Choice 2</label>
			</div>
			<div class="radio">
				<input id="Choice3" name="choises" value="3" type="radio">
				<label for="Choice3">Choice 3</label>
			</div>
		</fieldset>
		<fieldset class="form-inline">
			<legend>Pick a letter</legend>
			<div class="checkbox">
				<input id="Choicea" name="choises2" value="4" type="checkbox">
				<label for="Choicea">Choice A</label>
			</div>
			<div class="checkbox">
				<input id="Choiceb" name="choises2" value="5" type="checkbox">
				<label for="Choiceb">Choice B</label>
			</div>
			<div class="checkbox">
				<label for="Choicec">Choice C</label>
				<input id="Choicec" name="choises2" value="6" type="checkbox">
			</div>
		</fieldset>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>