<div class="wb-tabs ignore-session">
	<div class="tabpanels">
		<details id="details-panel10">	
			<summary>IMG longdesc</summary>
			<p>	
				<img src="images/betterchart.jpg" alt="Population of Canada and it's provinces" title="population of Canada and it's provinces" longdesc="good-1.1-longdec.html" />
				<p>Source: Statistics Canada</p>
			</p>
		</details>
		<details id="details-panel20">	
			<summary>Chart</summary>
			<p>	
				<table class="wet-boew-charts wb-charts-bar wb-charts-width-850 wb-charts-height-350 wb-charts-topvalue-14000000 wb-charts-ticks-10 table">
					<caption>Description of the Population of Canada and it's provinces chart<br />
					Canada - 35,056,064 </caption>
					<thead>
						<tr>
							<th scope="col" id="Province">Province</th>
							<th scope="col" id="Population">Population</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Newfoundland and Labrador</th><td>513636</td>
						</tr>
						<tr>
							<th>Prince Edward Island</th><td>145927</td>
						</tr>
						<tr>
							<th>Nova Scotia</th><td>946759</td>
						</tr>
						<tr>
							<th>New Brunswick</th><td>754698</td>
						</tr>
						<tr>
							<th>Quebec</th><td>8084973</td>
						</tr>
						<tr>
							<th>Ontario</th><td>13561034</td>
						</tr>
						<tr>
							<th>Manitoba</th><td>1274279</td>
						</tr>
						<tr>
							<th>Saskatchewan</th><td>1089807</td>
						</tr>
						<tr>
							<th>Alberta</th><td>3931341</td>
						</tr>
						<tr>
							<th>British Columbia</th><td>4639862</td>
						</tr>
						<tr>
							<th>Yukon</th><td>36215</td>
						</tr>
						<tr>
							<th>Northwest Territories</th><td>43407</td>
						</tr>
						<tr>
							<th>Nunavut</th><td>34126</td>
						</tr>
					</tbody>
				</table>	
			</p>
		</details>					
	</div>
</div>
