<div class="col-md-9">
<p>
	<ul class="">
		<li class="glyphicon glyphicon-warning-sign"><a href="http://www.w3.org/WAI/WCAG20/from10/diff.php" rel="external">How WCAG 2.0 Differs from WCAG 1.0</a></li>
		<li class="glyphicon glyphicon-warning-sign"><a href="http://www.w3.org/WAI/WCAG20/from10/comparison/" rel="external">Comparison of WCAG 1.0 Checkpoints to WCAG 2.0, in Numerical Order </a></li>
		<li class="glyphicon glyphicon-warning-sign"><a href="http://www.w3.org/TR/WCAG20-TECHS/intro.html" rel="external">Introduction to Techniques for WCAG 2.0</a></li>
		<li class="glyphicon glyphicon-warning-sign"><a href="http://www.usability.com.au/resources/wcag2/" rel="external">Accessible Forms using WCAG 2.0</a></li>
	</ul></p>
</div>