---
{
	"title": "Contexte et object",
	"language": "fr",
	"altLangPrefix": "about-1.1",	
	"dateModified": "2015-10-19",
	"previousURL": "index-fr.html",
	"nextURL": "about-1.2-fr.html"
}
---
<div class="row">
	<div class="col-md-12">
		<h2 class="mrgn-tp-0 h3">Contexte</h2>
		<p>Tous les Canadiens ont le droit d'obtenir l'information et les services dont ils ont besoin à partir des sites Web du gouvernement du Canada, quels que soient les outils technologiques qu'ils utilisent. La clé de la mise en œuvre efficace d'une accessibilité universelle repose sur la conception de sites accessibles au plus vaste public possible et compatibles avec la gamme la plus vaste possible de plateformes logicielles et matérielles, des appareils et accessoires d'aide jusqu'aux technologies naissantes.</p>
		<p>Pour bien des gens, l'accès au contenu Web se révèle plus compliqué que de cliquer à l'aide d'une souris et de taper sur un clavier. Certaines personnes comptent sur des technologies d'adaptation, comme des utilitaires de lecture d'écran ou de fichiers sonores et des systèmes activés par la voix, pour surmonter les obstacles posés par les technologies Internet courantes. D'autres personnes peuvent être limitées par la technologie même qu'elles utilisent, ou encore par leur niveau de connaissances de celle-ci.</p>
		<p>Dans le cadre de son initiative d'accessibilité aux contenus Web (WAI), le World Wide Web Consortium (W3C) a mis au point des lignes directrices concernant l'accessibilité universelle, intitulées Règles pour l’accessibilité des contenus Web (WCAG). Grâce à ces lignes directrices, et conformément à l'approche axée sur le citoyen de l'initiative de Normalisation des sites Internet, la présente norme vise à garantir un accès équitable à tout le contenu des sites Web du gouvernement du Canada.</p>
		<p>Au cours des dernières années, le gouvernement du Canada a commencé à utiliser ces normes et lignes directrices. En agissant ainsi, il a renouvelé son engagement à assurer l’application uniforme d’un niveau élevé d’accessibilité à l’ensemble de ses sites Web.</p>
		<div class="row">
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Object</h2>
						<p>Le gouvernement du Canada veille à ce qu’un haut niveau d’accessibilité des sites Web soit appliqué uniformément à l’ensemble de ses sites Web.</p>
					</div>
				</div>
			</section>
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Description</h2>
						<p>Le cours décrit les normes et les lignes directrices fédérales à l’égard de l’accessibilité du Web et met l’accent sur les exigences, les rôles et les responsabilités qu’implique la conformité à cette norme. Les participants découvriront les ressources fiables qui sont à leur disposition et comment les mettre en œuvre de manière uniforme, ainsi que la méthodologie d’évaluation servant à déterminer la conformité ministérielle et à en rendre compte.</p>					
					</div>
				</div>
			</section>
		</div>
			
		<h2 class="mrgn-tp-0 h3">Objectifs d’apprentissage</h2>
		<ol>
			<li>Comprendre les rôles et les responsabilités en matière d’accessibilité au Web au gouvernement fédéral.</li>		
			<li>Utiliser des outils pour l’évaluation de sites Web.</li>		
			<li>Mettre en application des lignes directrices et les techniques des Règles pour l’accessibilité des contenus Web (WCAG) 2.0, conformément à 	la 		Norme sur l’accessibilité des sites Web au gouvernement du Canada.</li>
			<li>Tenir compte de l’accessibilité en tout temps.</li>
		</ol>						
	</div>
</div>
