---
{
	"title": "Background and Intent",
	"language": "en",
	"altLangPrefix": "about-1.1",	
	"dateModified": "2015-10-19",
	"previousURL": "index-en.html",
	"nextURL": "about-1.2-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		<h2 class="mrgn-tp-0 h3">Background</h2>
		<p>Canadians have the right to obtain information and services from Government of Canada Web sites, regardless of the technologies they use. The key to effective implementation of universal accessibility relies on designing Web sites that serve the widest possible audience and the broadest possible range of hardware and software platforms, from assistive technologies to new and emerging technologies.</p>
		<p>For many Canadians, accessing Web content is more complicated than clicking a mouse or typing on a keyboard. Some Canadians rely on adaptive technologies such as text readers, audio players or voice-activated devices to overcome many of the barriers presented by standard Internet technologies. Others may be limited by their own technology or familiarity with that technology.</p>
		<p>The World Wide Web Consortium’s Web Accessibility Initiative (WAI) has developed universal accessibility guidelines known as the Web Content Accessibility Guidelines (WCAG). Along with these guidelines and in keeping with the client-centred approach of the new Web Standards for the Government of Canada, these best practices are directed toward ensuring equitable access to all content on Government of Canada Web sites.</p>
		<p>In recent years, the Government of Canada has adopted the use of these guidelines and standards and in doing so has renewed its commitment to ensuring that a high level of Web accessibility is applied uniformly across its many Web sites.</p>
		<div class="row">
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Intent</h2>
						<p>The Government of Canada is committed to ensuring that a high level of Web accessibility is applied uniformly across its Web sites.</p>
					</div>
				</div>
			</section>
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Description</h2>
						<p>This course outlines federal standards and guidelines on Web accessibility and emphasizes the requirements, roles and responsibilities for compliance with this standard. Participants will learn about the availability of authoritative resources, how to apply them in a consistent manner and the assessment methodology for measuring and reporting departmental conformance.</p>					
					</div>
				</div>
			</section>
		</div>
			
		<h2 class="mrgn-tp-0 h3">Learning Objectives</h2>
		<ol>
			<li>Understand the roles and responsibilities regarding Web accessibility in a federal government context.</li>
			<li>Use tools to perform Web assessments and evaluations.</li>
			<li>Apply WCAG 2.0 guidelines and techniques according to the Standard on Web Accessibility for the Government of Canada.</li>
			<li>Always keep accessibility in mind.</li>
		</ol>						
	</div>
</div>
