---
{
	"title": "Bad Examples of Guideline 2.4 Navigable",
	"language": "en",
	"altLangPrefix": "bad-2.4",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-2.3-en.html",
	"nextURL": "bad-3.1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Navigable" "Proper something something" "Bad" "bad-2.4" "bad-2.4-ex1,bad-2.4-ex2,bad-2.4-ex3"}}}
	</div>
</div>