---
{
	"title": "Bad Examples of Guideline 3.1 Readable",
	"language": "en",
	"altLangPrefix": "bad-3.1",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-2.4-en.html",
	"nextURL": "bad-3.2-en.html",
	"skipLangTag": "true"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Readable" "Proper something something" "Bad" "bad-3.1" "bad-3.1-ex1"}}}
	</div>
</div>