---
{
	"title": "Bad Examples of Guideline 2.1 Keyboard Accessible",
	"language": "en",
	"altLangPrefix": "bad-2.1",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-1.4-en.html",
	"nextURL": "bad-2.2-en.html",
	"ExtraJS": "bad-2.1",
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Keyboard Accessible" "Proper something something" "Bad" "bad-2.1" "bad-2.1-ex1,bad-2.1-ex2,bad-2.1-ex3"}}}
	</div>
</div>