---
{
	"title": "Exercice 4: Analyse du principe 1",
	"language": "fr",
	"altLangPrefix": "ex-4",
	"dateModified": "2015-10-19",
	"previousURL": "ex-3-fr.html",
	"nextURL": "ex-5-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex4 %>
}
---