---
{
	"title": "Exercice 8: Analyse des principes 3 et 4",
	"language": "fr",
	"altLangPrefix": "ex-8",
	"dateModified": "2015-10-19",
	"previousURL": "ex-7-fr.html",
	"nextURL": "ex-9-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex8 %>
}
---