---
{
	"title": "Exercice 9: Exercice de révision en groupe",
	"language": "fr",
	"altLangPrefix": "ex-9",
	"dateModified": "2015-10-19",
	"previousURL": "ex-8-fr.html",
	"nextURL": "ex-9-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex9 %>
}
---