---
{
	"title": "Bad Examples of Forms 2",
	"language": "en",
	"altLangPrefix": "form-bad-2",	
	"dateModified": "2015-10-19",
	"previousURL": "form-bad-1-en.html",
	"nextURL": "form-bad-3-en.html",
	"ExtraJS": "form-bad-2"
}
---
	<h2>Example 1</h2>
	<form role="form" method="get" action="thanks-en.html">
		<div class="form-group">
			<label for="namefield">Name:</label>
			<input id="namefield" class="form-control" type="text" />
		</div>		
		<div id="showupsoon" class="form-group wb-invisible">
			<label for="sinfield">SIN:</label>
			<input disabled="disabled" id="sinfield" class="form-control" type="text">
		</div>
		<div class="form-group">
			<label for="c1">DOB:</label> 
			<input id="c1" class="form-control" type="text" />
		</div>
		<div class="form-group">
			<label for="typechoice">Type:</label>
			<select class="form-control" id="typechoice">
				<option value=""></option>
				<option value="a">Letter</option>
				<option value="b">Number</option>
				<option value="n">N/A</option>
			</select>
		</div>		
		<div id="a-option" class="form-group wb-invisible">
			<label for="e2">Type a letter:</label> 
			<input class="form-control" id="e1" type="text" /></div>
		<div id="b-option" class="form-group wb-invisible">
			<label for="e1">Type a number:</label>
			<input class="form-control" id="e2" type="text" />
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>