---
{
	"title": "Good Examples of Guideline 2.4 Navigable",
	"language": "en",
	"altLangPrefix": "good-2.4",	
	"dateModified": "2015-10-19",
	"previousURL": "good-2.3-en.html",
	"nextURL": "good-3.1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Navigable" "Proper something something" "good" "good-2.4" "good-2.4-ex1,good-2.4-ex2"}}}
	</div>
</div>