---
{
	"title": "Good Examples of Guideline 1.2 Time-based Media",
	"language": "en",
	"altLangPrefix": "good-1.2",	
	"dateModified": "2015-10-19",
	"previousURL": "good-1.1-en.html",
	"nextURL": "good-1.3-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Audio and Video" "Proper Audio and Video Contents" "good" "good-1.2" "good-1.2-ex1,good-1.2-ex2"}}}
	</div>
</div>