---
{
	"title": "Good Examples of Guideline 1.1 Text Alternatives",
	"language": "en",
	"altLangPrefix": "good-1.1",	
	"dateModified": "2015-10-19",
	"previousURL": "ex-9-en.html",
	"nextURL": "good-1.2-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "ALT Text" "Proper ALT Contents" "good" "good-1.1" "good-1.1-ex1,good-1.1-ex2,good-1.1-ex3,good-1.1-ex4,good-1.1-ex5"}}}
	</div>
</div>
