---
{
	"title": "Good Examples of Guideline 1.4 Distinguishable",
	"language": "en",
	"altLangPrefix": "good-1.4",	
	"dateModified": "2015-10-19",
	"previousURL": "good-1.3-en.html",
	"nextURL": "good-2.1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Distinguishable" "Proper something something" "good" "good-1.4" "good-1.4-ex1,good-1.4-ex2,good-1.4-ex3"}}}
	</div>
</div>