---
{
	"title": "Web accessibility Standard for the Governement of Canada (T710)",
	"language": "en",
	"altLangPrefix": "index",
	"dateModified": "2015-10-19",
	"nextURL": "about-1.1-en.html"
}
---
<div class="row">
	<div class="col-md-8">
		<p>This course outlines federal standards and guidelines on Web accessibility and emphasizes the requirements, roles and responsibilities for compliance with this standard. Participants will learn about the availability of authoritative resources, how to apply them in a consistent manner and the assessment methodology for measuring and reporting departmental conformance.</p>

		<div class="row">
			<h2>Learn accessibility by trying</h2>
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="mrgn-tp-0 h3">Well Structured Document Scenarios</h3>
						<p>Exercises to help write and better understand accessibility and how well structured documents benefit.</p>
						<ul class="text-center list-unstyled">
							<li>							
								<details>
									<summary class="btn btn-primary btn-block">Structured Documents - Scenario 1</summary>
									<p>Choose between headings, paragraphs and images to build a well structured information page.</p>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-tryit-{{language}}.html">Try it Yourself - Structured Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-good-{{language}}.html">{{{i18n "menu-good"}}} Results for Structured Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-bad-{{language}}.html">{{{i18n "menu-bad"}}} Results for Structured Documents</a></li>
									</ul>
								</details>
							</li>

							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">Structured Documents - Scenario 2</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-2-tryit-{{language}}.html">Try it Yourself -  Structured Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-good-{{language}}.html">{{{i18n "menu-good"}}} Results for Structured Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-bad-{{language}}.html">{{{i18n "menu-bad"}}} Results for Structured Documents</a></li>
									</ul>
								</details>
							</li>

							<li class="mrgn-tp-sm">
									<details>
									<summary class="btn btn-primary btn-block">Structured Documents - Scenario 3</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-3-tryit-{{language}}.html">Try it Yourself - Structured Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-good-{{language}}.html">{{{i18n "menu-good"}}} Results for Structured Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-bad-{{language}}.html">{{{i18n "menu-bad"}}} Results for Structure Documents</a></li>
									</ul>
								</details>
							</li>

							<li class="mrgn-tp-sm">
									<details>
									<summary class="btn btn-primary btn-block">Structured Documents - All Scenarios</summary>
									<p>Encompases all of the first 3 senarios into one big page.</p>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-3-tryit-{{language}}.html">Try it Yourself -  Structured Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-good-{{language}}.html">{{{i18n "menu-good"}}} Results for  Structure Documents</a></li>
										<li><a class="btn btn-primary btn-block" href="ScenarioStructured-1-bad-{{language}}.html">{{{i18n "menu-bad"}}} Retults for  Structure Documents</a></li>
									</ul>
								</details>
							</li>							
						</ul>
					</div>
				</div>
			</section>

			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="mrgn-tp-0 h3">Form Scenarios</h3>
						<p>Form scenarios will allow to try and feel the effects of bad forms</p>
						<ul class="text-center list-unstyled">
							<li>
								<details>
									<summary class="btn btn-primary btn-block">Forms - Scenario 1</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="form-bad-1-{{language}}.html">Experience it Yourself - Forms</a></li>
										<li><a class="btn btn-primary btn-block" href="form-good-1-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
									</ul>
								</details>
							</li>

							<li>							
								<details>
									<summary class="btn btn-primary btn-block">Forms - Scenario 2</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="form-bad-2-{{language}}.html">Experience it Yourself - Forms</a></li>
										<li><a class="btn btn-primary btn-block" href="form-good-2-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
									</ul>
								</details>
							</li>

							<li>							
								<details>
									<summary class="btn btn-primary btn-block">Forms - Scenario 3</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="form-bad-3-{{language}}.html">Experience it Yourself - Forms - 3</a></li>
										<li><a class="btn btn-primary btn-block" href="form-good-3-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
									</ul>
								</details>
							</li>
<!--
							<li>							
								<details>
									<summary class="btn btn-primary btn-block">Forms and ARIA</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="form-bad-aria-{{language}}.html">Experience it Yourself - Forms - ARIA</a></li>
										<li><a class="btn btn-primary btn-block" href="form-good-aria-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
									</ul>
								</details>
							</li>	
-->
						</ul>
					</div>
				</div>
			</section>
		</div>

		<h2>WCAG: Guildeline by Guideline</h2>

		<div class="row">
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="mrgn-tp-0 h3">Bad Examples</h3>
						<p>Examples demonstrating some of the ways to cause accessibility issues</p>
						<ul class="text-center list-unstyled">
							<li>							
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-perceivable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-1.1-{{language}}.html">{{{i18n "wcag-1-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-1.2-{{language}}.html">{{{i18n "wcag-1-2"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-1.3-{{language}}.html">{{{i18n "wcag-1-3"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-1.4-{{language}}.html">{{{i18n "wcag-1-4"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>

							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-operable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-2.1-{{language}}.html">{{{i18n "wcag-2-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-2.2-{{language}}.html">{{{i18n "wcag-2-2"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-2.3-{{language}}.html">{{{i18n "wcag-2-3"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-2.4-{{language}}.html">{{{i18n "wcag-2-4"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-understandable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-3.1-{{language}}.html">{{{i18n "wcag-3-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-3.2-{{language}}.html">{{{i18n "wcag-3-2"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-3.3-{{language}}.html">{{{i18n "wcag-3-3"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-robust"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-4.1-{{language}}.html">{{{i18n "wcag-4-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="mrgn-tp-0 h3">Good Examples</h3>
						<p>Examples demonstrating some of the ways to correct the accessibility issues</p>
						<ul class="text-center list-unstyled">
							<li>							
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-perceivable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-1.1-{{language}}.html">{{{i18n "wcag-1-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-1.2-{{language}}.html">{{{i18n "wcag-1-2"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-1.3-{{language}}.html">{{{i18n "wcag-1-3"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-1.4-{{language}}.html">{{{i18n "wcag-1-4"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>

							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-operable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-2.1-{{language}}.html">{{{i18n "wcag-2-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-2.2-{{language}}.html">{{{i18n "wcag-2-2"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-2.3-{{language}}.html">{{{i18n "wcag-2-3"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-2.4-{{language}}.html">{{{i18n "wcag-2-4"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-understandable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-3.1-{{language}}.html">{{{i18n "wcag-3-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-3.2-{{language}}.html">{{{i18n "wcag-3-2"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-3.3-{{language}}.html">{{{i18n "wcag-3-3"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-robust"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-4.1-{{language}}.html">{{{i18n "wcag-4-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>
						</ul>
					</div>
				</div>
			</section>			
		</div>
	</div>
		

	<div class="col-md-4">
		<div class="well">
		<h2 class="mrgn-tp-0 h3">References</h2>
			<section class="panel panel-default">
				<div class="panel-body">
					<h3 class="mrgn-tp-0 h4">{{{i18n "ref-1"}}}</h3>
					<p>For the <strong>current list of Sufficient Techniques and Common Failures</strong>.</p>
					<p><a href="http://www.w3.org/WAI/WCAG20/quickref/" class="btn btn-info btn-block">{{{i18n "ref-1"}}}</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">
					<h3 class="mrgn-tp-0 h4">{{{i18n "wcag-name"}}}</h3>
					<p>For the <strong>official standard documentation</strong>.</p>
					<p><a href="http://www.w3.org/TR/WCAG20" class="btn btn-info btn-block">{{{i18n "wcag-name"}}}</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">		
					<h3 class="mrgn-tp-0 h4">{{{i18n "ref-3"}}}</h3>
					<p>For the <strong>a simplified checklist to assist with accessibility compliance</strong>.</p>
					<p><a href="http://webaim.org/standards/wcag/checklist" class="btn btn-info btn-block">{{{i18n "ref-3"}}}</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">
					<h3 class="mrgn-tp-0 h4">{{{i18n "tmpl-wet"}}}</h3>
					<p>The <strong>framework for all public websites of the Goverment of Canada</strong>.</p>					
					<details>
						<summary class="btn btn-info btn-block">{{{i18n "tmpl-wet"}}}</summary>
						<ul class="text-center list-unstyled">
							<li><a class="btn btn-info btn-block" href="http://wet-boew.github.io/wet-boew/index-{{language}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-home-page"}}}</a></li>
							<li><a class="btn btn-info btn-block" href="http://wet-boew.github.io/v4.0-ci/demos/index-{{language}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-work-examples"}}}</a></li>
							<li><a class="btn btn-info btn-block" href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-{{language}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-style-guide"}}}</a></li>
						</ul>
					</details>					
				</div>
			</section>
		</div>
	</div>
</div>
